.gig-form .gig-form-item .col {
    padding: 30px;
    background-color: #fff;
    color: #565D74;
    border-radius: 15px;
}

.gig-form .gig-form-item .col.form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.gig-form-item .col.sidemenu li {
    line-height: 40px;
}

.gig-form-item .col.sidemenu li {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}

.gig-form-item .col.sidemenu i {
    color: #565D74;
    font-size: 14px;
    margin-right: 10px;
}

.gig-form-item .col.sidemenu li.active {
    color: #FBB30B;
}

.gig-form-item .col.sidemenu li.active i {
    color: #FBB30B;
}

.gig-form-item .col.sidemenu li.inactive {
    color: #565D74;
}

.gig-form-item .col.sidemenu li.inactive i {
    color: #565D74;
}

.full-width {
    width: 100%;
}

.sidemenu-title h4 {
    font-size: 16px;
    color: #565D74;
    font-weight: 500;
}

.custom-label {
    color: #565D74;
    font-size: 16px;
    font-weight: 500;
}

.suggested-tags ul {
    margin-left: 0;
    padding-left: 10px;
}

.suggested-tags ul li {
    display: inline-block;
    font-size: 16px;
    color: #565D74;
    margin-right: 12px;
}

.suggested-tags ul li:first-child {
    font-weight: 600;
}

.suggested-tags ul li a {
    text-decoration: underline;
}

.pri {
    background-color: #2F417E;
}