<section class="menu-content">
    <div class="menu-content-header border-b">
        <div class="menu-content-title">
            <h2>Gigs </h2>
        </div>
    </div>

    <div class="container menu-content-body gig-form mt-5 content-space">
        <div class="row">
            <div class="col-md-12">
                <div class="gig-form-item sidemenu-title">
                    <h4>New gig</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gig-form-item">
                    <ul class="col sidemenu">
                        <li class="active"><i class="fa fa-stop-circle-o" aria-hidden="true"></i>
                            <a routerLink="/gig/add-basic-data">Basic data</a></li>
                        <li><i class="fa fa-stop-circle-o" aria-hidden="true"></i>
                            <a routerLink="/gig/add-renumeration">Renumeration</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="gig-form-item">
                    <div class="col form">
                        <form>
                            <div class="row">
                                <div class="col-sm-6 mb-2">
                                    <p class="custom-label">Role</p>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Enter role</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <p class="custom-label">Company</p>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Enter company name</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <p class="custom-label">Location</p>
                                <div class="col-sm-6 mb-2">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Country</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                                {{food.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>State/Region</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                                {{food.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Address </mat-label>
                                        <input matInput placeholder="Placeholder" value="">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <p class="custom-label">Add tags</p>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Add more tags</mat-label>
                                        <mat-chip-list #chipList aria-label="Fruit selection">
                                            <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                                                {{fruit.name}}
                                                <button matChipRemove>
                                              <mat-icon>cancel</mat-icon>
                                            </button>
                                            </mat-chip>
                                            <input placeholder="New fruit..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                        </mat-chip-list>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 suggested-tags mb-3">
                                    <ul>
                                        <li>Suggested tags:</li>
                                        <li><a>full time</a></li>
                                        <li><a>contract</a></li>
                                        <li><a>freelance</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 form-buttons">
                                    <div class="text-end">
                                        <button mat-button>Cancel</button>
                                        <button mat-raised-button color="primary" class="pri">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>