/* You can add global styles to this file, and also import other style files */

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
    font-size: 0.88rems;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.menu-content {
    min-height: 720px;
    height: auto;
    width: 100%;
    background-color: #FBFBFF !important;
    color: #333;
    padding: 35px 0;
}

.menu-content .menu-content-header {
    margin: 0;
}

.menu-content .menu-content-title {
    padding: 0 60px;
}

.menu-content .menu-content-title h2 {
    font-size: 35px;
    text-transform: capitalize;
    color: #2C263D;
}

.mat-drawer-container,
.mat-drawer {
    background-color: #fff;
}

table {
    width: 100%;
}

ul {
    list-style: none;
}

i {
    font-size: 14px;
    color: #565D74;
}

.mat-tab-label,
.mat-tab-link {
    color: #333 !important;
}

[mat-align-tabs=center]>.mat-tab-header .mat-tab-labels {
    justify-content: space-around !important;
    border-bottom: 1px solid #ECECEC;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #FBB30B;
}

.border-b {
    border-bottom: 1px solid #ECECEC;
}

.mat-elevation-z8 {
    box-shadow: none;
}

.content-space {
    width: 95%;
    margin: auto;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ECECEC;
}

.mat-form-field .mat-hint,
.mat-form-field::placeholder,
.mat-form-field .mat-form-field-label {
    color: #ECECEC;
}

.mat-select-arrow,
.mat-form-field input {
    color: #565D74;
}

.mat-select-value {
    color: #424242;
}


/*--- Gig form ---*/


/* .gig-form .gig-form-item .col {
    padding: 30px;
    background-color: #fff;
    color: #565D74;
    border-radius: 15px;
}

.gig-form .gig-form-item .col.form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.gig-form-item .col.sidemenu li {
    line-height: 40px;
}

.gig-form-item .col.sidemenu li a {
    color: #565D74;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}

.gig-form-item .col.sidemenu i {
    color: #565D74;
    font-size: 14px;
    margin-right: 10px;
}

.gig-form-item .col.sidemenu li a:active {
    color: #FBB30B;
}

.gig-form-item .col.sidemenu li.active a {
    color: #FBB30B;
}

.gig-form-item .col.sidemenu li.active i {
    color: #FBB30B;
}

.full-width {
    width: 100%;
}

.sidemenu-title h4 {
    font-size: 16px;
    color: #565D74;
    font-weight: 500;
}

.custom-label {
    color: #565D74;
    font-size: 16px;
    font-weight: 500;
} */