<section class="menu-content">
    <div class="menu-content-header">
        <div class="menu-content-title d-flex justify-content-between">
            <h2>Gigs </h2>
            <div>
                <a mat-raised-button color="primary" class="pri" routerLink="/gig/add-new-gig">Add gig <i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="container menu-content-body">
            <mat-tab-group class="gig-view-tab" mat-align-tabs="center">
                <mat-tab>
                    <ng-template mat-tab-label>
                        All gigs
                        <span class="tab-count">3400</span>
                    </ng-template>
                    <div class="row gig-filter">
                        <div class="col-x-6 col-md-2">
                            <div class="gig-filter-item">
                                <button class="btn btn-sm btn-default">Freelance</button>
                            </div>
                        </div>
                        <div class="col-x-6 col-md-2">
                            <div class="gig-filter-item">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Kyewords
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-x-6 col-md-2">
                            <div class="gig-filter-item">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Location
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-x-6 col-md-2">
                            <div class="gig-filter-item">
                                <button class="btn btn-sm btn-default">Remote friendly</button>
                            </div>
                        </div>
                        <div class="col-x-6 col-md-2">
                            <div class="gig-filter-item">
                                <button class="btn btn-sm btn-default">Design</button>
                            </div>
                        </div>
                        <div class="col-x-6 col-md-2">
                            <div class="gig-filter-item">
                                <button class="btn btn-sm btn-default">Contract</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 content-space">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef>Id</th>
                                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                                </ng-container>

                                <ng-container matColumnDef="role_id">
                                    <th mat-header-cell *matHeaderCellDef>Role</th>
                                    <td mat-cell *matCellDef="let element">{{element.role_id}}</td>
                                </ng-container>

                                <ng-container matColumnDef="company_id">
                                    <th mat-header-cell *matHeaderCellDef>Company</th>
                                    <td mat-cell *matCellDef="let element">{{element.company_id}}</td>
                                </ng-container>

                                <ng-container matColumnDef="updated_at">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>Date</th>
                                    <td mat-cell *matCellDef="let element">{{element.updated_at}}</td>
                                </ng-container>

                                <ng-container matColumnDef="maximum_salary">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Salary</th>
                                    <td mat-cell *matCellDef="let element">{{element.maximum_salary}}</td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[1, 2, 5, 10, 25, 100]">
                            </mat-paginator>

                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        My gigs
                        <span class="tab-count">1200</span>
                    </ng-template>
                    Content 2
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        Rejected gigs
                        <span class="tab-count">100</span>
                    </ng-template>

                    Content 3
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>


</section>